      <div class="masthead">
        <h3 class="muted">ИС-03 АРМ</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><a href="/admin/core">Регистрация</a></li>
                <li><a href="/admin/core/company/">Компании</a></li>
                <li><a href="/admin/core/candidate/">Сосискатели</a></li>
                <li><a href="/search/">Поиск</a></li>
                <li><a href="/help">Помощь</a></li>
                <li><a href="/contacts">Контакты</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>
