      <div class="masthead">
        <h3 class="muted">ИС-03 АРМ</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="#">Регистрация</a></li>
                <li><a href="#">Компании</a></li>
                <li><a href="#">Сосискатели</a></li>
                <li><a href="#">Отчеты</a></li>
                <li><a href="#">Помощь</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>
